* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body {
    background: #080808;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/swa.png);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 140px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #40e0d0;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #40e0d0;
}


/*---------------About-----------------*/
#about {
    padding: 0px;
    color: #ababab;

}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
    perspective: 700px;

}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
    margin-top: 0%;
    box-shadow: 10px 10px 15px #ccc;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    font-size: 18px;
    margin-right: 50px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #40e0d0;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;

}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    font-size: 14px;
    color: #40e0d0;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}
.tab-contents {
    width:50%;
    }
.skill-bar {
    background-color: #ddd;
    height: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    
    }
.skill-progress {    
    background-color: #40e0d0; 
    height: 100%;
    border-radius: 10px;
    
    }
.skill-name {    
    padding-left: 10px;
    line-height: 20px;
    
    }
/*-----------------------services---------*/
#services {
    padding: 30px 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin-top: 15px;

}

.grid-item {
    padding: 40px;
    margin-left: 20%;
    background: #8d8b8b70;
    font-size: 13px;
    font-weight: 300;
    transition: background 0.5s, transgorm 0.5s;
    border-radius: 10px;

}

.sub-title1 {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    margin-left: 10%;
}

.grid-item i {
    font-size: 30px;
    margin-bottom: 25px;
}

.grid-item a {
    text-decoration: none;
    color: white;
    margin-top: 20px;
    display: inline-block;
    font-size: 15px;
}

.grid-item h2 {
    margin-bottom: 15px;
}

.grid-item:hover {
    background: #69aca5;
    transform: translateY(-10px);

}

/* ---------------portfolio ------------------------*/
#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5%;
    margin-top: 15px;
}

.work {
    /* border-radius: 10px; */
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(to bottom,rgba(64,224,208,0),rgba(64,224,208,0.8));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:0 40px;
    text-align: center;
    font-size: 12px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 18px;
}
.layer a{
    margin-top: 20px;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    width: 60px;
    height: 60px;
    border-radius: 45px;
    background-color: #fff;
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 40px auto;
    width: fit-content;
    border: 2px solid #69aca5 ;
    text-decoration: none;
    padding: 10px 30px;
    color: #fff;
    border-radius: 12px;
}
.btn:hover{
background: #69aca5;
}

/* contact */
.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #40e0d0;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #69aca5;
    transform: translateY(-5px);
}
.btn.btn1{
    display: inline-block;
    background: #69aca5;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border:0;
    padding: 15px;
    margin: 15px 0;
    font-size: 15px;
    border-radius: 5px;
    background: #ababab;
    
}
form .btn1{
    margin-top: 5px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: #ababab;
}
#msg{
    color: green;
    margin-top: -10px;
    display: block;
}

